<!DOCTYPE html>
<html lang="en">
  <head>
  {% block head %}
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="dist/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="dist/css/flat-ui.css" rel="stylesheet">
    <link href="docs/assets/css/demo.css" rel="stylesheet">
    <link rel="shortcut icon" href="favicon.ico">
  {% endblock %}
  </head>
  <body>
    <script src="dist/js/vendor/jquery.min.js"></script>
    <script src="dist/js/flat-ui.min.js"></script>
    <div class="row demo-row">
      <div class="col-xs-12">
        <nav class="navbar navbar-fixed-top navbar-inverse navbar-embossed" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
              <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="./index.html">IETF YANG</a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-collapse-01">
            <ul class="nav navbar-nav navbar-left">
            {% for area in data%}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{short_name[area]}}<b class="caret"></b></a>
                <span class="dropdown-arrow"></span>
                <ul class="dropdown-menu">
                  <li><a href="./{{short_name[area]}}.html">{{area}}</a></li>
                  <li class="divider"></li>
                  {% for wg in data[area] %}
                  <li><a href="./{{short_name[area]}}.html#{{wg}}">{{wg}}</a></li>
                  {% endfor %}
                </ul>
              </li>
            {% endfor %}
             </ul>
             <!--form class="navbar-form navbar-right" action="#" role="search">
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control" id="navbarInput-01" type="search" placeholder="Search">
                  <span class="input-group-btn">
                    <button type="submit" class="btn"><span class="fui-search"></span></button>
                  </span>
                </div>
              </div>
            </form-->
          </div><!-- /.navbar-collapse -->
        </nav><!-- /navbar -->
      </div>
    </div> <!-- /row -->
    <div class="container">
      {% block body%} {% endblock %}
    </div>
  </body>
</html>