<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>IETF YANG model dashboard</title>
    <link href="dist/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="dist/css/flat-ui.css" rel="stylesheet">
    <link href="docs/assets/css/demo.css" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.ico">
  </head>
  <body>
    <script src="dist/js/vendor/jquery.min.js"></script>
    <script src="dist/js/flat-ui.min.js"></script>
    <div class="container">
      <div class="demo-headline">
        <table class="table">
          <caption>YANG model of {{area}} </caption>
          <thead>
            <tr>
              <th>Work Group</th>
              <th>Document Name</th>
              <th>Model Name</th>
            </tr>
          </thead>
          <tbody>
            {%set idx = 1%}
            {% for wg in context %}
              {% for artifact in context[wg] %}
                {% for yang in artifact['models'] %}
                  <tr>
                    <td>{{wg}}</td>
                    <td><a href='{{artifact['url']}}'>{{artifact['name']}}</a></td>
                    <td>{{yang}}</td>
                  </tr>
                  {%set idx = idx + artifact['models']|length %}
                {% endfor %}
              {% endfor %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>